.dashboard {
  border: 1px solid black;
}

.controls-container {
  height: 80px;
}

.controls-container .buttons {
  line-height: 95px;
}

.charts-container {
  border: 1px solid gray;
}

.charts-container .row{
  padding: 15px;
}