.dashboard {
  margin-top: 1rem;
}

.controls-container {
  height: 80px;
  border-bottom: 1px solid gray;
}

.controls-container .buttons {
  line-height: 95px;
}

.charts-container {
  margin-top: 20px;
}

.charts-container .row{
  padding: 15px;
}